body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set height of body to full viewport height */
    background-color: #3c4641; /* Set the background color */

}

#game-window {
    width: 800px; /* Adjust width as needed */
    height: 600px; /* Adjust height as needed */
    position: relative;
    border: 10px solid black; /* Add a border with 2px width and black color */
}

#scene {
    width: 100%;
    height: 100%;
}

.arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.arrow-button-left {
    left: 0;
}

.arrow-button-right {
    right: 0;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 197, 115, 0.9);
    padding: 20px;
    border: 2px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

